{% extends 'main.html' %}

{% block content %}

{% load static %}

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h2>Gestión de Surcursales</h2>
                    <div class="card">
                        <div class="card-body">
                            <form action="/registrarSurcursal/" method="POST" id="surcursalesForm">
                                {% csrf_token %}
                                <div class="form-group">
                                    <input type="text" id="txtNombre" name="txtNombre" class="form-control" placeholder="Nombre" minlength="2" maxlength="50" required>
                                    <small id="nombreError" class="text-danger"></small>
                                </div>
                                <div class="form-group">
                                    <input type="text" id="txtDireccion" name="txtDireccion" class="form-control" placeholder="Direccion" minlength="5" maxlength="50" required>
                                </div>
                                <div class="form-group">
                                    <input type="email" id="txtCorreoElectronico" name="txtCorreoElectronico" class="form-control" placeholder="Correo Electronico" maxlength="50" required>
                                    <small id="correoElectronicoError" class="text-danger"></small>
                                </div>
                                <div class="form-group">
                                    <input type="text" id="txtTelefono" name="txtTelefono" class="form-control" placeholder="Telefono" maxlength="20" required>
                                    <small id="telefonoError" class="text-danger"></small>
                                </div>
                        
                                <div class="form-group">
                                    <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                                </div>
                            </form>
                        </div>
                    </div>
            
                    <script>
                        document.getElementById('surcursalesForm').addEventListener('submit', function (event) {
                            var isValid = true; // Asumimos que el formulario es válido inicialmente
                        
                            // Validación para nombre
                            var nombreInput = document.getElementById('txtNombre');
                            var nombreError = document.getElementById('nombreError');
                            var nombreValue = nombreInput.value.trim();
                            // Se agrega validación para no permitir números o caracteres especiales al inicio
                            if (/^[0-9\W]/.test(nombreValue) || nombreValue.length === 0) {
                                nombreError.textContent = 'El nombre no puede empezar con números o caracteres especiales, ni estar vacío.';
                                event.preventDefault();
                            } else {
                                nombreError.textContent = '';
                            }
                            var correoElectronicoInput = document.getElementById('txtCorreoElectronico');
                            var correoElectronicoError = document.getElementById('correoElectronicoError'); // Asegúrate de tener este elemento en tu HTML
                            var correoElectronicoValue = correoElectronicoInput.value.trim();
                            // Expresión regular para validar el correo electrónico según los criterios especificados
                            var correoElectronicoPattern = /^[^\s@]+@[^\s@]+\.[^\s@]{2,3}$/;
                            if (!correoElectronicoPattern.test(correoElectronicoValue) || !/^[^\s@]+@[a-zA-Z]{2,}\.[a-zA-Z]{2,3}$/.test(correoElectronicoValue)) {
                                correoElectronicoError.textContent = 'El correo electrónico debe tener 2 o más letras después del @ y de 2 a 3 letras después del punto.';
                                isValid = false; // Ajusta el estado de validez
                                event.preventDefault();
                            } else {
                                correoElectronicoError.textContent = ''; // Limpia el mensaje de error si pasa la validación
                            }
                                                    // Validación para direccion
                            var direccionInput = document.getElementById('txtDireccion');
                            var direccionError = document.getElementById('direccionError'); // Asegúrate de tener este elemento en tu HTML
                            var direccionValue = direccionInput.value.trim();
                            // Se agrega validación para no permitir números o caracteres especiales al inicio
                            if (direccionValue.length < 5 || /^[0-9\W]/.test(direccionValue)) {
                                direccionError.textContent = 'La dirección no puede tener menos de 5 caracteres, ni empezar con números o caracteres especiales.';
                                event.preventDefault();
                            } else {
                                direccionError.textContent = '';
                            }
                        
                            // Validación para personaEncargada
                    
                            // Validación para teléfono (existente en tu código)
                            var telefonoInput = document.getElementById('txtTelefono');
                            var telefonoError = document.getElementById('telefonoError');
                            var telefonoPattern = /^(3|8|9|22)\d{6,7}$/; // Ajuste según necesidad
                            if (!telefonoPattern.test(telefonoInput.value)) {
                                telefonoError.textContent = 'El número de teléfono debe empezar con 3, 8, 9, o 22 y cumplir con la longitud requerida.';
                                event.preventDefault();
                            } else {
                                telefonoError.textContent = '';
                            }
                        
                            // Si alguna validación falla, previene el envío del formulario
                            
                        });
                        </script>
                        
            <!-- End of Main Content -->

                      
        
                </div>
                <!-- End of Content Wrapper -->
        
            </div>
            <!-- End of Page Wrapper -->
        
            <!-- Scroll to Top Button-->
            <a class="scroll-to-top rounded" href="#page-top">
                <i class="fas fa-angle-up"></i>
            </a>
        
            <!-- Logout Modal-->
            <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                            <a class="btn btn-primary" href="login.html">Logout</a>
                        </div>
                    </div>
                </div>
            </div>
        
            {% endblock %}
            <!-- Bootstrap core JavaScript-->
            <script src="{%static 'vendor/jquery/jquery.min.js'%}"></script>
            <script src="{%static 'vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
        
            <!-- Core plugin JavaScript-->
            <script src="{%static 'vendor/jquery-easing/jquery.easing.min.js'%}"></script>
        
            <!-- Custom scripts for all pages-->
            <script src="{%static 'js/sb-admin-2.min.js'%}"></script>
        
            <!-- Page level plugins -->
            <script src="{%static 'vendor/chart.js/Chart.min.js'%}"></script>
        
            <!-- Page level custom scripts -->
            <script src="{%static 'js/demo/chart-area-demo.js'%}"></script>
            <script src="{%static 'js/demo/chart-pie-demo.js'%}"></script>
        
        </body>
        
        </html>